<%-   include('../template/head')   -%>

<h1> Bienvenido: <%= usuario.nombre %>     </h1>
<p> Tu perfil es de: <%= usuario.perfil %>    </p>


<% if(usuario.perfil == "admin") {  %>

<h2> Hello ADMIN!</h2>

<%  } else { %>

    <h2> Hello user</h2>

    <%  } %>


<%-   include('../template/footer')   -%>